<h1>Login</h1>
<form method="post">
    <div>
        <label>Email:</label>
        <input type="text" name="EmpEmail" placeholder="you@mail.com"/>
    </div>

    <div>
        <label>Password: </label>
        <input type="text" name="EmpPassword" placeholder="Password" />
    </div>
    <input type="submit" name="Login" class="btn btn-primary" />
</form>